.RestaurantCard {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 22.8125rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.RestaurantCard:hover .restImg {
    transform: scale(1.1);
}

.imgContainer {
    height: 10rem;
    overflow: hidden;
}

.restImg {
    width: 100%;
    transition: 400ms ease-in-out;
}

.text {
    text-align: start;
    padding: 1rem;
}

.restName {
    margin-bottom: 0.2rem;
}

.restDesc {
    color: rgb(101, 101, 101);
}

.deliveryDetails { 
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: rgb(101, 101, 101);
}

.deliveryDetails__left, .deliveryDetails__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price, .time {
    margin-left: 0.5rem;
}