* {
    margin: 0;
    padding: 0;
}

button {
    padding: 0.5rem 1rem;
    outline: none;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.3rem;
    transition: 200ms ease-in-out;
}

.fullWidth {
    width: 100%;
}

.contained {
    background: #309CD9;
    color: #fff;
}

.contained:hover {
    background-color: #1782bf;
}

.outlined {
    background-color: #fff;
    color: #309CD9;
    border: 2px solid #309CD9;
}
.outlined:hover {
    color: #fff;
    background: #309CD9;
}

.none {
    background-color: transparent;
    color: #309CD9;
}

.none:hover {
    text-decoration: underline;
}

.small {
    font: 0.5rem;
}

.normal {
    font-size: 1rem;
}

.large {
    font-size: 1.5rem;
}
