*{
    margin: 0;
    padding: 0;
}

.counter_container {
    display: flex;
    align-items: center;
}

.span{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span.small {
    font-size: 0.5rem;
    padding: 0 .1rem;
}
.span.normal {
    font-size: 1rem;
    padding: 0 .25rem;
}
.span.large {
    font-size: 1.5rem;
    padding: 0 .5rem;
}