.sidebar{
    width: fit-content;
}

.li{
    font-weight: bold;
    list-style: none;
    padding-bottom: 0.2rem;
    cursor: pointer;
    width: fit-content;
    position: relative;
}

.li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.15rem;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}
  
.li:hover::before {
    width: 100%;
}
.a{
    text-decoration: none;
    color: #676767;
}

.a:hover{
    color: black;
}