* {
    margin: 0;
    padding: 0;
}

.iconButton button {
    outline: none;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 100%;
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contained {
    background: #309CD9;
    color: #fff;
}

.contained:hover {
    background-color: #1782bf;
}

.outlined {
    background-color: #fff;
    color: #309CD9;
    border: 2px solid #309CD9 !important;
}
.outlined:hover {
    color: #fff;
    background: #309CD9;
}

.none {
    background-color: transparent;
    color: #309CD9;
}

.none:hover {
    text-decoration: underline;
}

.small {
    font: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.normal {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
}

.large {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
}
